.footer {
  background-color: $color-blue;
  width: 100%;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 1.5rem;

    @media (min-width: map-get($grid-breakpoints, lg)) {
      max-width: 75%; // Centra el bloque de 3 columnas
      margin: 0 auto; // Centra horizontalmente
      justify-content: space-between; 
    }
  }

  &__col {
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
    flex: 1 1 200px;
    position: relative;
    text-align: center;
    box-sizing: border-box;

    // linea divisoria entre columnas 
    &:not(:last-child)::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 1px;
      background-color: $color-gray-medium;
      transform: translateX(0.5rem);
    }
  }


  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;   
    text-align: center;
    color: $color-white;
    width: 100%;
    padding: 0 0.75rem;
    box-sizing: border-box;
  }


  &__title {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-orange;
    opacity: 0.85;
    margin-bottom: 0.5rem;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 0;
    opacity: 0.75;

  }

  &__icon-link {
    font-size: 1rem;
    color: $color-white;
    display: inline-flex;

    &:hover {
      color: $color-orange;
    }

  }

  &__text {
    padding-bottom: 0.3rem;
    line-height: 1.4;
    font-size: 0.9rem;
    color: $color-white;
    opacity: 0.75;
    text-align: center;
  }

  &__copyright {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    white-space: nowrap;
    text-align: center;
    gap: 0.25rem;
    text-transform: uppercase;
    color: $color-gray-medium;
    font-size: 0.7rem;
    opacity: 0.75;
  }

  
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .footer__col::after {
    display: none !important; 
  }
}