.header {
    background-color: $color-blue;
    border-top: 7px solid $color-orange;

    padding-block: 0.5rem; //espacio vertical
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between; //asi distribuye los grupos

        flex-wrap: nowrap; // en linea horizontal
        column-gap: 2rem;
        padding: 0.5rem;

        // Layout en pantallas móviles y tablets (menor a md)
        @media screen and (max-width: map-get($grid-breakpoints, md)) {
            flex-direction: row;
            flex-wrap: wrap; // en mobile pueden bajar
            row-gap: 1.2rem;
            justify-content: center;
            text-align: center;
            position: relative; // para ubicar los botones absolutos
        }
    }


    &__left {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: flex-start;

    }

    &__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;

        img {
            height: 80px;
            width: auto;
            object-fit: contain;
            display: block;
        }

        // Centrado en móvil
        @media screen and (max-width: map-get($grid-breakpoints, md)) {
            justify-content: center;
            flex-direction: column; //en mobile apila logo y texto
            align-items: center;
            text-align: center;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex: 1;
        min-width: 0; 

        @media screen and (min-width: map-get($grid-breakpoints, md)) {
            align-items: flex-start;
            text-align: left;
        }
    }

    &__title {
        font-family: $font-tertiary;
        font-size: 2.1rem;
        font-weight: 800;
        margin-top: 0; //elimino separacion arriba


        background: linear-gradient(90deg, $color-orange, $color-yellow);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;

        @media screen and (max-width:map-get($grid-breakpoints, sm)) {
            font-size: 1.6rem; //ajusto texto para pantallas chicas
            max-width: 90vw;
        }
    }

    &__slogan {
        margin-top: 0.3rem;
        font-size: 0.9rem;
        font-style: italic;
        color: $color-white;
        opacity: 0.75;

    }

    // Grupo CENTRO: navegación
    &__center {
        display: flex;
        justify-content: center;
        align-items: center;

        flex: 0 0 auto; 

        @media screen and (max-width: map-get($grid-breakpoints, sm)) {
            display: none; // oculto en mobile
        }
    }

    // Grupo DERECHO: lupa + buscador
    &__right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 0 0 auto;
        min-width: 0;
        gap: 1rem;


        @media screen and (max-width: map-get($grid-breakpoints, md)) {
            justify-self: end;
        }
    }

    // Iconos de accion (menu, lupa)
    &__icon {
        background: none;
        border: 2px solid transparent;
        padding: 0.5rem;
        border-radius: 30%;
        font-size: 1.6rem;
        color: $color-white;
        cursor: pointer;
        transition: border-color 0.2s, background-color 0.2s;

        &:hover {
            border-color: $color-orange;
        }
    }

    &__menu {
        display: none;

        @media screen and (max-width: map-get($grid-breakpoints, md)) {
            display: inline-flex;
            position: absolute;
            left: 1rem;
            top: 1rem;
        }
    }

    &__search-button {
        display: none;

        @media screen and (max-width: map-get($grid-breakpoints, md)) {
            display: inline-flex;
            position: absolute;
            right: 1rem;
            top: 1rem;
        }
    }
}