.main {
    padding-top: 16rem; 
    padding-bottom: 3rem;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    flex: 1;
    min-width: 360px;

    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
        padding-top: 12rem;
    }

    @media screen and (min-width: map-get($grid-breakpoints, md)) {
        padding-top: 12rem;
        max-width: map-get($grid-width, xxl);
    }

    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
        padding-top: 12rem;
    }
}