.site-wrapper {
    display: flex; 
    flex-direction: column;
    min-height: 100vh; 
    width: 100%;
    margin-top: 1rem;
}

.main {
    flex: 1;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    min-width: 360px;

    padding-top: 15rem;
    padding-bottom: 3rem;

    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
        padding-top: 10rem; // tablet
        margin-top: 1rem;
    }

    @media screen and (min-width: map-get($grid-breakpoints, md)) {
        padding-top: 9.5rem; // desktop
        margin-top: 1rem;
    }

    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
        padding-top: 9.5rem; // desktop grande
        max-width: map-get($grid-width, xxl);
        margin-top: 1rem;

    }
}