.menu__container {
    display: none;

    // Modificador BEM que activa la visibilidad
    &-visible {

        background-color: $color-white;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        display: block;
        
        left: 0;
        position: fixed;
        padding: 1.5rem 1.2rem;
        width: 12rem;
        z-index: 1; //encima del contenido

        @media screen and (min-width: map-get($grid-breakpoints, md)) {
            display: none
        }


        .menu__title {
            font-size: 1.4rem;
            color: $color-gray-dark;
            margin-bottom: 1rem;
            margin-bottom: 1.5rem;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid #eaeaea;
        }


        .menu__navigation {
            padding: 0 0.5rem;
        }

        .menu__list {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 0;
            padding: 0;
        }


        .menu__item {
            a {
                display: block;
                // padding: 0.75rem 1rem;
                border-radius: 0.5rem;
                font-size: 1.1rem;
                color: $color-blue-strong;
                background-color: transparent;
                text-decoration: none;
                transition: background-color 0.3s ease, color 0.3s ease;

                &:hover {
                    background-color: rgba($color-orange, 0.1); // Fondo suave al pasar
                    color: $color-orange;
                }
            }
        }




    }



}