.menu__container {
    display: none;

    &-visible {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 40%; 
        height: 100%; 
        background-color: $color-white;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
        padding: 1.5rem 1.2rem;
        z-index: 1100;
        overflow-y: auto;
    

        @media screen and (min-width: map-get($grid-breakpoints, md)) {
            display: none;
        }

        .menu__title {
            font-size: 1.7rem;
            font-weight: bold;
            color: $primary-color;
            margin-bottom: 1.5rem;
            padding-bottom: 0.5rem;
            border-bottom: 2px solid $color-gray-medium;
        }

        .menu__navigation {
            ul.menu__list {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                margin: 0;
                padding: 0;

                li.menu__item a {
                    font-size: 1.1rem;
                    color: $color-primary-hover;
                    text-decoration: none;

                    &:hover {
                        color: $secondary-color;
                    }

                }
            }
        }
    }
}