
.navbar {
    display: none;

    @media screen and (min-width: map-get($grid-breakpoints, md)) {
        display: block;
        text-align: center;
        padding-bottom: 0.5rem;
    }

    // Lista de enlaces de navegacion
    &__list {
        display: flex;
        justify-content: flex-end;
        gap: 1.2rem;
        flex-wrap: nowrap; 
        list-style: none;
        padding: 0;
        margin: 0;
    }

    // Enlaces individuales
    &__link {
        text-decoration: none;
        color: $color-white;
        font-weight: 600;
        white-space: nowrap; 

        &:hover {
            color: $color-orange;
        }
    }

}

