
.btn {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 0.85rem;
    cursor: pointer;
    border-bottom: none;
    text-decoration: none;


    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    &__header {
        background-color: $color-orange;
        color: $color-white;
        border: 1px solid $color-white;


        &:hover {
            background-color: $color-orange-strong;
            border: 1px solid $color-white;
            color: $color-white;
        }
    }

    &__card {
        background-color: $color-red;
        color: $color-white;
        border: 1px solid $color-red;

        &:hover {
            background-color: $color-red-strong;
        }
    }




}