
.btn {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 0.85rem;
    cursor: pointer;
    border-bottom: none;
    text-decoration: none;


    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;


    &__card {
        background-color:$danger-color;
        color: $color-white;
        border: 1px solid $danger-color;

        &:hover {
            background-color: $color-danger-hover;
        }
    }

}