
.card {
    background-color: $color-white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 
            0 4px 8px rgba(0, 0, 0, 0.06); // doble sombra sutil
    border-radius: 0.2rem;
    overflow: hidden;


    display: flex;
    flex-direction: column;

    &__image-container {
        height: 240px;          
        width: 100%;
        background-color: $color-gray-light;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__content {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.2rem;
        margin-bottom: 2rem;

    }

    &__title {
        font-size: 1rem;
        font-weight: bold;
        color: $color-blue;
        margin: 0;
        font-family: $font-secondary;
        text-transform: uppercase;
    }

    &__price {
        color: $color-yellow;
        font-weight: bold;
    }

    &__divider {
        border: none;
        border-top: 1px solid $color-red;
        margin: 0;
        margin-bottom: 0.25rem;
        width: 100%;
        display: block;
    }

    &__text {
        font-size: 0.9rem;
        color: $color-gray-dark;
        line-height: 1.4;
        margin: 0;
        font-family: $font-tertiary;
        margin-bottom: 1rem;
    }

    &__footer {
        margin-top: auto;
        display: flex;
        justify-content: flex-end;
        padding: 0 1rem 1rem;
        font-family: $font-primary;
    }

}