// Contenedor del buscador
.search {

    @media screen and (max-width: map-get($grid-breakpoints, sm)) {
        display: none;

        &.visible {
            display: block;
            padding-top: 0.5rem;
        }
    }

    &__form {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        flex: 1 1 auto; // Se adapta al contenedor
        border-radius: 2rem;
        overflow: hidden;
        background-color: $color-white;

        // Oculto en pantallas pequeñas (sm-)
        @media screen and (max-width: map-get($grid-breakpoints, md)) {
            display: none;
        }
    }

    &__input {
        flex: 1 1 auto;
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
        font-size: 1rem;
        color: $color-gray-dark;
        min-width: 0; // Permite achicar sin romper layout
    }

    &__button {
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        color: $color-orange;
        font-size: 1rem;
        cursor: pointer;
        display: inline-flex;

        @media screen and (max-width: map-get($grid-breakpoints, sm)) {
            display: none; 
        }

    }
}

