
body {
    background-color: $body-bg-color;
    margin: 0;
}


html, body {
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
}

main {
    min-height: calc(100vh - (4.5rem + 2rem + 64px));
}

a {
    color: unset;
    text-decoration: none;
}

h1, h3 {
    margin: 0;
}


/*
DEBUG: Activar para visualizar los limites de todos los elementos

* {
  outline: 1px solid red;
}
*/
