/* ======= RESET BASE ======= */

/* Modelo de caja consistente */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estructura general del documento */
html,
body {
    height: 100%; // Asegura que el sitio ocupe toda la altura de la ventana
    overflow-x: hidden; // Previene scroll horizontal accidental
}

/* Tipografía base */
body {
    font-family: $font-tertiary; // Fuente definida en variables
    line-height: 1.5;
    // color: $color-blue; // Color de texto principal
    background-color: $body-bg-color; // Color de fondo base
}

/* Quita estilos por defecto de enlaces */
a {
    text-decoration: none;
    color: inherit;
}

/* Encabezados sin márgenes extra */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    line-height: 1.2;
    margin: 0;
}

/* Contenedor principal para layout con footer fijo */
.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // Altura mínima igual a viewport
}


/* DEBUG: activar para ver límites de elementos */
// * {
//   outline: 1px solid red;
// }